/* 
FIND:
button
text
custom layout
*/
 
:root {
    --deep-gray: #343e4b;
    --light-gray: #fbfbfb;
    --yellow: #e2a12e;
    --orange: #f17400;
    --white: #ffffff;
    --light-bg: #fbfbf8;
    --secondary: #999fa5;
}
:root {
--deep-gray: #343e4b;
--light-gray: #fbfbfb;
--yellow: #e2a12e;
--orange: #f17400;
--white: #ffffff;
--light-bg: #fbfbf8;
--secondary: #999fa5;
}

html {
width: 100vw !important;
overflow-x: hidden;
background-size: contain;
background-position: center;
}

body,
button,
select,
a,
span {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
color: var(--deep-gray);
font-weight: 700 !important;
}

.wrapper {
width: 100vw;
min-height: calc(100vh - 80px) !important;
}

.nav {
min-height: 80px;
}

.footer {
min-height: 80px;
background-color: var(--deep-gray);
}

.h-100 {
height: 100%;
}

.minh {
min-height: calc(100vh - 160px) !important;
/* min-height: 665px; */
}

/* button */

.btn-primary:hover {
background-color: var(--deep-gray);
color: var(--white);
opacity: 0.8;
}

.btn-businfo {
    background-color: transparent !important;
    color: var(--deep-gray);
    padding: 0px 0px 0px 4px;
    border: none;
    font-size: 1.5rem;
}

.btn-member-info {
color: #979ca2;
background-color: transparent;
border: none;
padding: 0;
}

.menuBar a {
padding: 0.75rem 2rem !important;
}

.btn-login {
border-radius: 28px;
}

/* .btn-register .ant-btn {
width: 120%;
height: 60px;
margin-top: 1rem;
} */
.btn-register {
width: 120%;
}
@media (max-width: 769px) {
.btn-register {
    width: 100%;
}
}

.btn-footer {
color: var(--white) !important;
padding: 0px 32px;
margin: 12px 0px;
}

.hover-underline:hover {
text-decoration: underline;
}
/* text */
h1,
h4 {
letter-spacing: 0.15rem;
}

.text-white {
color: var(--white) !important;
font-weight: 700;
font-size: 16px;
}

.text-primary {
color: var(--deep-gray) !important;
}
.text-yellow {
color: var(--yellow) !important;
}

.text-size-14 {
font-size: 14px;
}
.text-size-16 {
font-size: 16px;
}

.weight700 {
font-weight: 700 !important;
}

.register-title {
font-size: 24px;
letter-spacing: 0.5rem;
margin-bottom: 40px;
}

/* opacity */

.op-075 {
opacity: 0.75 !important;
}

/* custom */

.menuBar {
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-end;
}

.footer button,
.footer button span {
background-color: var(--deep-gray) !important;
border-color: var(--deep-gray) !important;
color: var(--white) !important;
}

/* list style */

.ant-list-bordered {
border-top: 2px solid var(--deep-gray) !important;
border-bottom: 2px solid var(--deep-gray) !important;
border-right: none !important;
border-left: none !important;
}

.ant-list-items li:nth-child(even) {
background-color: rgba(52, 62, 75, 0.2) !important;
}

/* input */

.loginInputs {
width: 100%;
}

.loginInputs .ant-input,
.login-input {
width: 100%;
height: 60px !important;
border: 1px solid var(--deep-gray) !important;
margin-top: 1rem !important;
}

.loginInputs .ant-input:focus {
border-color: none !important;
box-shadow: none !important;
}
.register-input {
width: 100%;
height: 52px !important;
border: 1px solid var(--deep-gray) !important;
}

.registerInputs .ant-form-item-label label {
height: 58px;
line-height: 20px !important;
}

.registerInputs .ant-input-number-input {
height: 52px;
}

/* radio */

.ant-radio-inner {
    border-color: var(--deep-gray) !important;
}

.ant-radio-inner::after {
    background-color: var(--orange) !important;
}

.ant-radio-inner{
    background-color: var(--light-bg) !important;
}
.ant-radio-checked::after{
    border: 1px solid var(--deep-gray) !important;
}

/* badge */

.bustimeBadge {
    width: 80px;
    padding: 8px 16px;
    margin: 8px 16px;
    border-radius: 28px;
    text-align: center;
    color: var(--white);
}

.busstation {
    padding: 8px;
    margin: 8px 0px;
    white-space: nowrap;
}

.radioWrapper {
    width: 40px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.busCircle::before {
    content: "";
    position: relative;
    top: -135%;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    border-left: 1px solid var(--deep-gray);
}
.busCircle::after {
    content: "";
    position: relative;
    top: 85%;
    left: 45%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    border-left: 1px solid var(--deep-gray);
}

.busCircle {
width: 16px;
height: 16px;
border-radius: 8px;
border: 1px solid var(--deep-gray);
background-color: white;
/* z-index: 0; */
}

.busdegree {
width: 94px;
padding: 8px 4px;
margin: 8px 0px;
text-align: center;
border-radius: 8px;
border-width: 2px;
border-style: solid;
}

/* border-color */

.degree-yellow {
color: var(--yellow);
border-color: var(--yellow);
}

.degree-orange {
color: var(--orange);
border-color: var(--orange);
}

.xs_navbar {
border-radius: 0px 0px 12px 12px;
box-shadow: var(--deep-gray) 0px 0px 4px 1px;
}
.xs_nav {
width: 100% !important;
height: 40px;
padding: 12px 0px;
text-align: center;
vertical-align: middle;
}

/* custom layout */
.member-card {
border: 1.5px solid var(--deep-gray);
border-radius: 24px;
padding: 1.6rem 2rem;
background: #ffffff;
min-height: 280px;
box-shadow: 0px 4px 6px rgba(52, 62, 75, 0.15);
margin-bottom: 1rem;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
background: var(--light-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--secondary);
border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: var(--deep-gray);
border-radius: 4px;
}

/* others */
.yellow-rec {
border-left: var(--yellow) 4px solid;
padding-left: 12px;
}

@media (min-width: 1025px) {
.btn-navbar {
    display: none;
}
}
  